{{#if error}}
<!--Passport error-->
<div class="alert alert-danger">{{error}}</div>
{{/if}}

{{#each errors}}
<!--there IS an error(s)... so do this-->
<div class="alert alert-danger">{{text}}</div>

{{else}}
<!--there's no error... so do nothing-->

{{/each}}