<footer id="main-footer" class="bg-success py-4 my-4">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <a href="#" class="btn btn-light"><i class="fa fa-github"></i> Github Code</a>
      </div>
    </div>
  </div>
</footer>