<div class="card card-body">
  <h3 class="text-center">Sell New Item</h3>
  <form action="/items" method="post">
    <div class="form-group">
      <label for="itemName">Item Name</label>
      <input type="text" class="form-control" name="itemName" value="{{itemName}}">
    </div>
    <div class="form-group">
      <label for="itemPrice">Price</label>
      <input type="text" class="form-control" name="itemPrice" value="{{itemPrice}}">
    </div>
    <div class="form-group">
      <label for="itemImage">Photo Link</label>
      <input type="text" class="form-control" name="itemImage" value="{{itemImage}}">
    </div>
    <div class="form-group">
      <label for="itemDescription">Description</label>
      <textarea class="form-control" name="itemDescription">{{itemDescription}}</textarea>
    </div>
    <button class="btn btn-block btn-primary" type="submit">Sell New Item</button>
  </form>
</div>